body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fdf5eb;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #63b7e7;
    border-radius: 5px;
    background-color: #63b7e7;
  }
  
  h1 {
    text-align: center;
  }
  
  fieldset {
    margin-bottom: 20px;
  }
  
  legend {
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"] {
    width: calc(100% - 22px); /* 22px = total padding & border width */
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #e46c6c;
    border-radius: 5px;
  }
  
  button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #de933d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #confirmation {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  